<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
                <mat-card-subtitle>{{loggedInUser.accountLevel | accountLevelPipe}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <span *ngIf="currentUserGame != null">
                    <b>Organisator:</b> {{currentUserGame.firstNameCreator}} {{currentUserGame.lastNameCreator}}
                    <br>
                    <b>Spiel:</b> {{currentUserGame.subject}}
                    <hr>
                    <button mat-stroked-button [routerLink]="['/game']" routerLinkActive="is-active">zum Spiel</button>
                </span>
                <span *ngIf="currentUserGame === null">Nimmt aktuell an keinen Spiel teil.</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>Neues Spiel erstellen</mat-card-title>
                <mat-card-subtitle>Organisator {{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Wähle ein Modul</mat-label>
                    <mat-select disableRipple [formControl]="courses" [disabled]="currentUserGame != null">
                        <mat-option *ngFor="let course of dataSourceCourses" [value]="course.id">{{course.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-stroked-button (click)="onCreateGame()"
                    [disabled]="currentUserGame != null">erstellen</button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <mat-table [dataSource]="dataSource" style="width:calc(100% - 10px)">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Organisator </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstNameCreator}} {{element.lastNameCreator}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef> Kurs </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-stroked-button (click)="onJoinGame(element)"
                        [disabled]="currentUserGame != null">teilnehmen</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-grid-tile>
</mat-grid-list>