<div class="alert alert-success" role="alert" style="text-align: center;" *ngIf="successMsg">
    <strong>Frage wurde gemeldet</strong>
</div>

<div class="alert alert-success" role="alert" style="text-align: center;" *ngIf="sentGame">
    <strong>Ergebnis wurde übermittelt.</strong>
</div>


<div *ngIf="noGameExists">
    <mat-card>
        <h3>Es exisiert kein Spiel für dich. <br> Bitte gehe in die <a [routerLink]="['/lobby']"
                routerLinkActive="is-active">Lobby</a> und erstelle ein Spiel oder tritt einem
            bereits erstellten Spiel bei.</h3>
    </mat-card>
</div>

<div *ngIf="noSecondPlayer">
    <mat-card>
        <h3>Es fehlt noch ein zweiter Spieler. Bitte warte bis ein Student deinem Spiel beigetreten ist.</h3>
    </mat-card>
</div>

<div *ngIf="moreGamesExists">
    <mat-card>
        <h3>Das Spiel konnte nicht initialisiert werden. Bitte melde dich an die Administratoren.</h3>
    </mat-card>
</div>

<div *ngIf="errorExists">
    <mat-card>
        <h3>Unbekannter Fehler. Bitte kontaktiere einen Administrator.</h3>
    </mat-card>
</div>

<div *ngIf="runGame || endGame">
    <mat-card>
        <h3>
            <span style="text-align: center;">
                <b>Du </b> spielst gegen
                <b>{{player2.FirstName}} {{player2.LastName}}</b>
            </span>
            <span style="float: right;">Kategorie: <b>{{currentCategory}}</b></span>
            <span style="float: right;margin-right: 20px;">Kurs: <b>{{currentSubject}}</b></span>
            <span style="float: right;margin-right: 20px;">Punkte: <b>{{currentPlayerPoints}}</b></span>
        </h3>
    </mat-card>
</div>

<div *ngIf="runGame">
    <mat-card *ngIf="currentQuestion">
        <mat-card-title-group>
            <mat-card-subtitle>
                Frage {{questionNumber}} von 10
                <button mat-button (click)="onFrageMelden()" color="warn" style="right:20px; position: absolute;">Frage
                    melden</button>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <h1>{{currentQuestion.QuestionDescription}}</h1>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <mat-card-subtitle>Antwort</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <button mat-stroked-button *ngFor="let answer of currentAnswers" [disabled]="disableAnswerButton"
                style=" width: 100%; padding: 5px; margin-top: 5px;margin-bottom:5px;background-color: rgb(240, 240, 240);"
                (click)="selectAnswer(answer)">
                <div style=" text-align: left;">
                    {{answer.Description}}
                </div>
            </button>
        </mat-card-content>
    </mat-card>
    <button mat-flat-button color="primary" style="width: 100%;" [disabled]="disableNextQuestionButton" *ngIf="runGame"
        (click)="nextQuestion()">Nächste
        Frage</button>
</div>

<div *ngIf="endGame">
    <mat-card>
        <mat-card-title-group>
            <mat-card-subtitle>Alle Fragen beantwortet.</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            Dein Ergebnis im Kurs <b>{{currentSubject}}</b> und der Kategorie <b>{{currentCategory}}</b> sind
            <b>{{currentPlayerPoints}}</b> Punkte.
        </mat-card-content>
    </mat-card>
    <button mat-flat-button color="warn" style="width: 100%;" (click)="finishGame()">Spiel
        beenden</button>
</div>


<div *ngIf="loadGame" style="text-align: center;">
    <mat-spinner style=" display: inline-block; margin-top: 100px;"></mat-spinner>
</div>