
<!--   <div *ngIf="isLoading" style="position: relative">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate"
    [fullscreen]="true"
    >
  </mat-progress-spinner>
</div> -->

<mat-sidenav-container >
  <mat-sidenav  class="toolbar" mode="side" opened>
    <h2><b>Module</b></h2>
    <mat-nav-list>
      <div *ngFor="let course of courseList">               
        <a mat-list-item (click)="getbyCourse(course.Name, course.id)">{{course.Name}}</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  
</mat-sidenav-container>

<!-- <mat-drawer-container autosize  >
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>    
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
  </div>

</mat-drawer-container> -->

<div *ngIf="dataSource.length == 0">
  <h1><mat-icon>face</mat-icon> Bitte wähle ein Modul aus  </h1>
</div>

<mat-accordion *ngIf="dataSource.length != 0">
  <h1>{{ courseName }}</h1>
  <button type="button" mat-button (click)="editCourse(currentCourse)" >Kurs bearbeiten</button>
  <button type="button" mat-button (click)="deleteCourse(currentCourse)" >Kurs löschen</button>

    <div *ngFor="let category of dataSource">
    <mat-expansion-panel (click)="setPanelID(category.category.idcategory)" class="question-expansion-panel" [expanded]="panel === category.category.idcategory">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h1>{{category.category.Name}}</h1>            
        </mat-panel-title>       
      </mat-expansion-panel-header>
      <div>
         
        <button type="button" mat-button (click)="newQuestion(category.category.idcategory)" >Frage Hinzufügen</button>
        <button type="button" mat-button (click)="newCategory.emit(selectedCourse.id)" >Kapitel bearbeiten</button>
        <button type="button" mat-button (click)="newCategory.emit(selectedCourse.id)" >Kapitel löschen</button>
    </div>
        <div class="questions">
            <div class="question" *ngFor="let question of category.questions">
                <div class="question-text">
                    <h2> 
                        <button class="pull-right" (click)="deleteQuestion(question.question)" mat-icon-button color="warn">
                            <mat-icon >delete</mat-icon>
                        </button>
                        <button matTooltip="Antwort hinzufügen" class="pull-right" (click)="newAnswer(question.question.idQuestion)" mat-icon-button color="accent">
                            <mat-icon >add</mat-icon>
                        </button>
                        <mat-slide-toggle *ngIf="question.question.Approved === '1'; else approve" class="pull-right" matTooltip="Zurückziehen" checked (change)="toggleActivate(question.question)"></mat-slide-toggle>
                        <ng-template  #approve>
                            <mat-slide-toggle class="pull-right" matTooltip="Genehmigen" (change)="toggleActivate(question.question)"></mat-slide-toggle>
                        </ng-template>
                        

                        <app-question-dialog [data]='question.question' (focusOut)='saveQuestion($event)'></app-question-dialog></h2>
                        
                    
                </div>

                <mat-grid-list [cols]="6" rowHeight="2:0.5" *ngFor="let answer of question.answers" class="cell" >
                  <mat-grid-tile>
                    <div class="pull-left">
                    <mat-checkbox  name="Truth" [value]="answer.answer.idAnswers" [checked]="answer.answer.Truth === '1'" (change)="toggleTruth(answer.answer)"></mat-checkbox>
                  </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4" >
                    <div style="width: 100%;" class="pull-left">
                      <app-edit-answer-dialog [data]='answer.answer' (focusOut)='saveAnswer($event)'></app-edit-answer-dialog>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="pull-right">
                    <button (click)="deleteAnswer(answer.answer)" mat-icon-button color="warn" >
                      <mat-icon >delete</mat-icon>
                    </button>
                  </div>
                  </mat-grid-tile>
                  <mat-divider></mat-divider>                  
                </mat-grid-list>
                
                           
                
              </div>
               
                
            
            </div>
            
        
    </mat-expansion-panel>   
</div> 
  </mat-accordion>





